.sectionHeader {
  margin-bottom: 0px;
  .icon {
    background-image: url(../../../assets//images/logos/work-experience.png);
  }
}

a {
  font-size: 15px;
  font-weight: 400;
  color: #ad585a;
}

span {
  font-weight: 400;
}
