<a id="top"></a>
<div class="header">
  <div class="wrap">
    <div class="section">
      <h1>{{ profile.userName }}</h1>
      <div class="contact">
        <h2 style="margin-top: 0em; line-height: 1.4em">{{ profile.title }}</h2>
      </div>

      <div class="column" style="padding-top: 1em">
        <a class="linked-in raised" href="{{ profile.linkedIn }}">Connect</a>
      </div>
    </div>
    <div class="bubble"></div>
  </div>
</div>

<div class="main">
  <div class="wrap main-layout">
    <div class="section_left">
      <app-intro></app-intro>
      <br /><br />
      <app-strengths></app-strengths>
      <app-work-experience></app-work-experience>
      <app-education></app-education>
      <app-personal-projects></app-personal-projects>
    </div>

    <div class="section_right">
      <app-contact></app-contact>
      <app-soft-skills></app-soft-skills>
      <app-tools></app-tools>
      <app-languages></app-languages>
      <app-hobbies></app-hobbies>
    </div>
  </div>
</div>

<div class="footer">
  <a class="top raised" title="Go to top" href="#top"></a>
  <a class="linked-in raised" href="{{ profile.linkedIn }}">Connect</a>
  <a class="linked-in raised" href="mailto:a.ciobanu19@gmail.com">Contact me</a>
</div>
