<a id="top"></a>
<div class="header">
  <div class="wrap">
    <div class="section">
      <h1>{{ profile.userName }}</h1>
      <div class="contact">
        <h2 style="margin-top: 0em; line-height: 1.4em">{{ profile.title }}</h2>
      </div>

      <div class="column" style="padding-top: 1em">
        <a class="linked-in raised" href="{{ profile.linkedIn }}">Connect</a>
      </div>
    </div>
    <div class="bubble"></div>
  </div>
</div>

<div class="main">
  <div class="wrap main-layout">
    <div class="section_left">
      <app-intro></app-intro>
      <br /><br />
      <app-strengths></app-strengths>

      <div class="section">
        <div class="sectionHeader" style="margin-bottom: 0px">
          <div
            class="icon"
            style="background-image: url(assets/images/experience.png)"
          ></div>
          <h2>Experience</h2>
        </div>
        <div *ngIf="showAllPositions">
          <div
            *ngFor="let position of profile.positions"
            class="experience textContent"
          >
            <h3>{{ position.title }}</h3>
            <h4>
              <a
                style="font-size: 15px; font-weight: 400; color: inherit"
                *ngIf="position.companyWebsite"
                href="{{ position.companyWebsite }}"
                >{{ position.company }}</a
              >
              <span style="font-weight: 400" *ngIf="!position.companyWebsite">{{
                position.company
              }}</span
              >, {{ position.period }}
            </h4>
            <p *ngFor="let paragraph of position.description">
              {{ paragraph }}
            </p>
            <div class="link-container" *ngFor="let link of position.links">
              <a [href]="link" target="_blank">{{ link }}</a>
            </div>
          </div>
        </div>
        <div *ngIf="!showAllPositions">
          <div
            *ngFor="let position of profile.positions.slice(0, 3)"
            class="experience textContent"
          >
            <h3>{{ position.title }}</h3>
            <h4>
              <a
                style="font-size: 15px; font-weight: 400; color: inherit"
                *ngIf="position.companyWebsite"
                href="{{ position.companyWebsite }}"
                >{{ position.company }}</a
              >
              <span style="font-weight: 400" *ngIf="!position.companyWebsite">{{
                position.company
              }}</span
              >, {{ position.period }}
            </h4>
            <p *ngFor="let paragraph of position.description">
              {{ paragraph }}
            </p>
            <div class="link-container" *ngFor="let link of position.links">
              <a [href]="link" target="_blank">{{ link }}</a>
            </div>
          </div>
        </div>
        <div>
          <button class="raised btn-secondary" (click)="toggleAllPositions()">
            {{ showAllPositions ? "Show less" : "Show all" }}
          </button>
        </div>
      </div>
    </div>

    <div class="section_right">
      <app-soft-skills></app-soft-skills>
      <app-tools></app-tools>
      <app-languages></app-languages>
      <app-hobbies></app-hobbies>
      <app-contact></app-contact>
    </div>
  </div>
</div>

<div class="footer">
  <a class="top raised" title="Go to top" href="#top"></a>
  <a class="linked-in raised" href="{{ profile.linkedIn }}">Connect</a>
  <a class="linked-in raised" href="mailto:a.ciobanu19@gmail.com">Contact me</a>
</div>
