.sectionHeader {
  margin-bottom: 0px;
  .icon {
    background-image: url(../../../assets//images/logos/education.png);
  }
}

.collaboration {
  text-decoration: underline;
}
a {
  font-size: 15px;
  font-weight: 400;
  color: inherit;
}

span {
  font-weight: 400;
  color: #ad585a;
}
