<div class="section">
  <div class="sectionHeader">
    <div class="icon"></div>
    <h2>Education</h2>
  </div>
  <ng-container *ngIf="!showAll; else showAllProgrammes">
    <ng-container *ngTemplateOutlet="showAvailableProgrammes"></ng-container>
  </ng-container>
  <ng-template #showAllProgrammes>
    <ng-container *ngTemplateOutlet="showAvailableProgrammes"></ng-container>
  </ng-template>
  <div>
    <button class="raised btn-secondary" (click)="toggleShowAll()">
      {{ showAll ? "Show less" : "Show all" }}
    </button>
  </div>
</div>

<ng-template #showAvailableProgrammes>
  <div
    class="experience textContent"
    *ngFor="let programme of programmes | available : showAll"
  >
    <h3>{{ programme.title }}</h3>
    <h4>
      <span> {{ programme.school }}, </span>
      {{ programme.city }}, {{ programme.country }}
    </h4>

    <ng-container *ngIf="programme.hasFinalProject()">
      <p class="collaboration">{{ programme.finalProject.collaboration }}</p>
      <p>{{ programme.finalProject.description }}</p>
      <div class="link-container">
        <a [href]="programme.finalProject.link" target="_blank">{{
          programme.finalProject.link
        }}</a>
      </div>
    </ng-container>
  </div>
</ng-template>
