$font-stack: "Roboto", sans-serif;

$font-color: #2d2650;
$grey-background: #fcf5fc;

$link: #5f0986;

$blue-bg: #58adac;
$wine-bg: #ad585a;

$base-margin: 1em;

$base-rounding: 0px;

$progress-bar: #098620;
